#root {
    width: 100vw;
    height: 100vh;
}

.resizeHandle {
    width: 4px;

    &[data-resize-handle-state="hover"],
    &[data-resize-handle-state="drag"] {
        background-color: #2B79D7;
    }
}

.react-transform-wrapper {
    width: 100% !important;
    height: 100% !important;
}