.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .inner {
        display: flex;
        flex-direction: row;
        width: 100vw;
        flex-grow: 1;
        min-height: 100px;

        .rightPanel {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}
